# Unity
Library/
Temp/
obj/
Logs/
.utmp/

# IDE
.vscode/
.gradle/
.vs/

# Function
ProjectSettings/Function.asset
UserSettings/Function.asset

# NatML
ProjectSettings/NatML.asset
ProjectSettings/NatMLHub.asset

# VideoKit
ProjectSettings/VideoKit.asset
UserSettings/VideoKit.asset

# Recordings
/*.mp4
/*.wav
recordings/*.mp4
recordings/*.wav

# Misc
.DS_Store